{% extends 'jobs/base.html' %}
{% block content %}
<h2>My Posted Jobs</h2>
<a href="{% url 'add_job' %}">Add New Job</a>
<ul>
    {% for job in jobs %}
        <li>
            <strong>{{ job.title }}</strong> - {{ job.location }} | ₹{{ job.salary }}<br>
            <a href="{% url 'edit_job' job.id %}">Edit</a> |
            <a href="{% url 'delete_job' job.id %}">Delete</a>
            <a href="{% url 'view_applicants' job.id %}">View Applicants</a>

        </li>
    {% empty %}
        <li>No jobs posted yet.</li>
    {% endfor %}
</ul>
{% endblock %}
